<!doctype html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='jscript.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style(profile).css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
<!------ Include the above in your HEAD tag ---------->
</head>

<body>

<div style="background-color:orange; text-color:white;">
    <table style="width:100%; font-size:21px; margin-left:20%;">
        <th> <a style="visited:white; color:white; " href="/index">Game</a> </th> <th><a style="visited:white; color:white;" href="/profile"> Profile</a> </th>
    </table>
</div>
<div class="container">
      {% with messages=get_flashed_messages() %}
   {% if messages %}
   <script>
       var messages={{messages | safe}}
       for (var i=0; i< messages.length; i++) {
            alert(messages[i]);
       }
   </script>
      <script>
        $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
    </script>
   {% endif %}
   {% endwith %}
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />

                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">
                                         {%for item in user %}
                                                {{item[-5]}}
                                                {% endfor %}

                                    </a></h2>
                                    <h6 class="d-block"><a href="javascript:void(0)">
                                         {%for item in user %}
                                                {{item[-1]}} $
                                                {% endfor %}
                                    </a> Total Balance</h6>
                                    <hr>
                                       <h5 class="d-block" style=" font-weight: bold"><a href="javascript:void(0);">
                                         Buy Chips
                                    </a></h5>
                                    <div class="d-block">
                                         <form action="/pay" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="{{pub_key}}"
                                            data-email={{userMail}}
                                            data-panel-label="{{amount}}"
                                            data-amount="5000"
                                            data-label="Donate 50$"
                                            data-name="Casino"
                                            data-description="Chips will be transfered to your balance"
                                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                            data-locale="auto"
                                            data-zip-code="false">
                                          </script>
                                        </form>
                                    </div>

                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Bank Accounts</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {%for item in user %}
                                                {{item[-4]}}
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Age</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 {%for item in user %}
                                                {{item[-3]}}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <hr />


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 {%for item in user %}
                                                {{item[-2]}}
                                                {% endfor %}
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <form action="/updateUser" method="POST">
                                                <label style="font-weight:bold;"><button class="btn" type="submit" >Edit</button></label>
                                                    </form>
                                            </div>
                                            <div class="col-md-8 col-6">

                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                         <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Card</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 {%for item in accounts %}
                                               | {{item[-3]}} |
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Expiration Date</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 {%for item in accounts %}
                                                | {{item[-2]}} |
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Adress</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 {%for item in accounts %}
                                               | {{item[-1]}} |
                                                {% endfor %}
                                            </div><br><br>
                                        </div>
                                        <form action="/addBank" method="GET">
                                        <button style="width:75%;"class="btn" type="submit">Add Payment</button>
                                            </form>
                                        <hr>
                                          <div class="column">
                                            <div class="col-md-8 col-md-2">
                                                <label style="font-weight:bold;">Edit Bank Accounts</label>
                                            </div>
                                            <div class="col-md-8 col-6">

                                            </div>
                                        </div>
                                        <div class="column" >
                                            <form action = "/updateBank" method="POST">
                                            Select {{form.card.label}} {{form.card}}
                                            <button type="submit" method="POST" class="btn-danger">Update</button>
                                                </form>
                                            <form action = "/deleteBank" method="POST">
                                            Select {{form.card.label}} {{form.card}}
                                            <button class="btn-primary" type="submit">Delete</button>
                                            </form>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    <h3><a href="/logout">Logout</a></h3>
    </div>

</body>
</html>